@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.backdrop-enter {
  animation: fade-in 0.2s;
}
.drawer-enter {
  animation: slide-in 0.25s ease-out;
}
